@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --font-primary: 'Baloo Da 2', serif;
  --font-secundary: 'Josefin Slab' serif;
  --font-action: 'Muli', serif;
}

html {
  scroll-behavior: smooth;
}

.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer {
  right: 16rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px #000;
  transition: transform 1s;
}

.show-menu #line1 {
  transform: rotate(45deg) translate(0.2rem, 0.45rem);
}

.show-menu #line2 {
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3 {
  transform: rotate(-45deg) translate(0.2rem, -0.45rem);
}

.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d06f2;
  color: #fff;
  font-family: var(--font-action);
  opacity: 0;
  text-transform: uppercase;
}

.hamburguer span::before {
  content: '';
  position: absolute;
  border-right: 0.5rem solid #1d06f2;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}

.show-menu .hamburguer:hover span {
  opacity: 1;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: zoom 15s;
}

.img-wrapper2 img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 50%;
  left: 5%;
}

.banner h1 {
  color: #fff;
  font-size: 4rem;
  font-family: var(--font-primary);
  font-weight: 200;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
  line-height: 3.2rem;
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
  line-height: 10rem;
}

.banner button {
  font-family: var(--font-action);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #3060fd;
  background: -webkit-linear-gradient(to right, #1d06f2, #3060fd);
  background: linear-gradient(to right, #1d06f2, #3060fd);
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}
.btn1 {
  font-family: var(--font-action);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: #3060fd;
  background: -webkit-linear-gradient(to right, #1d06f2, #3060fd);
  background: linear-gradient(to right, #1d06f2, #3060fd);
  padding: 0rem 0.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
  width: 7rem;
  text-align: center;
}

.saibaMais {
  color: #fff;
}

.saibaMais:hover {
  color: rgb(3, 2, 2);
}

.banner button:hover {
  color: black;
}

@keyframes moveBanner {
  0% {
    transform: translateY(10rem);
    rotate: -30deg;
  }
  100% {
    transform: translateY(0);
    rotate: 0;
    opacity: 1;
  }
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -25rem;
  transition: all 1s;
  z-index: 99;
}

.show-menu .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}

.menu-link {
  font-family: var(--font-action);
  font-size: 2rem;
  color: #555;
  transition: color 1s;
}

.menu-link:hover {
  color: #1d06f2;
}

.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social-media i {
  background-color: #1d06f2;
  color: rgba(255, 255, 255, 1);
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 1s;
}

.social-media i:hover {
  background-color: #3060fd;
}

.historia {
  height: 100%;
}

.sessao-historia {
  background-color: #051839;
}

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #f7ef07;
  border-bottom: solid 3px #f7ef07;
  margin-bottom: 1.5rem;
  padding-top: 4rem;
}

.historia-header {
  display: flex;
  align-items: center;
  color: #3060fd;
}

.historia-header i {
  font-size: 2.5rem;
}

.historia-header h3 {
  font-family: var(--font-secundary);
  font-size: 2rem;
  padding-left: 1rem;
}

.historia-text {
  font-family: var(--font-secundary);
  margin-top: 6rem;
  margin-left: 1rem;
  text-align: center;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #fff;
  line-height: 2.5rem;
  padding-bottom: 5rem;
}

.confrat {
  display: flex;
  justify-content: space-evenly;
}

.sessao-confrat {
  width: 100%;
  height: 100%;
  background-color: #003c97;
  padding-bottom: 4rem;
}

.card {
  margin-top: 3rem;
  width: 18rem;
  height: 25rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.card-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.card-info h3 {
  font-family: var(--font-action);
  font-weight: bolder;
  color: #f7ef07;
  margin-bottom: 1.5rem;
}

.card-info p {
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: 400;
  width: 80%;
  margin-bottom: 2rem;
}

.btn {
  background: #3060fd;
  background: -webkit-linear-gradient(to right, #1d06f2, #3060fd);
  background: linear-gradient(to right, #1d06f2, #3060fd);
  font-family: var(--font-action);
  font-size: 1.5rem;
  color: #eee;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.btn:hover {
  color: #000;
  cursor: pointer;
}

.card-info button {
  width: 8rem;
  height: 2.5rem;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.sessao-titulos {
  width: 100%;
  height: 100%;
  background-color: #051839;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 4rem;
}

.confrat-wrapper {
  width: 60%;
}

.sessao-diretoria {
  width: 100%;
  height: 100%;
  background-color: #003c97;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  padding-top: 8rem;
}

.diretoria-wrapper {
  width: 60%;
  height: 80%;
  background-color: #3060fd;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  position: relative;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.sessao-diretoria h1 {
  position: absolute;
  top: -2.5rem;
  left: 2rem;
  background: #3060fd;
  background: -webkit-linear-gradient(to right, #1d06f2, #3060fd);
  background: linear-gradient(to right, #1d06f2, #3060fd);
  padding: 0 3rem;
  color: #fff;
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: lighter;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
}

#logo-diretoria {
  position: absolute;
}

.imgDiretoria {
  width: 10rem;
  height: 10rem;
  margin-top: -8rem;
  position: relative;
  left: 17rem;
  display: flex;
  visibility: hidden;
}

.imgDiretoria2 {
  width: 10rem;
  height: 10rem;
  margin-top: -5rem;
  position: relative;
  left: 25rem;
  display: flex;
  visibility: hidden;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
  top: -5rem;
}

#presidente {
  position: relative;
  top: 10rem;
}

h4 {
  color: #f7ef07;
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 20rem;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
  font-family: var(--font-primary);
}

h4:hover .imgDiretoria {
  cursor: pointer;
  visibility: visible;
}

h5 {
  color: #f7ef07;
  font-size: 2rem;
  margin-left: 0.5rem;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
  font-family: var(--font-primary);
  position: relative;
}

h5:hover .imgDiretoria2 {
  cursor: pointer;
  visibility: visible;
}

p1 {
  color: #fff;
}

footer {
  width: 100%;
  height: 7rem;
  background-color: #051839;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-content p {
  font-family: var(--font-secundary);
  color: #a7a7a7;
  font-size: 1.2rem;
}

.social-list a {
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.3rem;
}

.social-list ul {
  display: flex;
}

#link-topo {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: #3060fd;
  background: -webkit-linear-gradient(to right, #1d06f2, #3060fd);
  background: linear-gradient(to right, #1d06f2, #3060fd);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.6rem #00000009;
  margin-bottom: -2.2rem;
}

@media (min-width: 320px) and (max-width: 1024px) {
  header {
    width: 100vw;
    height: 100vh;
  }

  .hamburguer {
    right: 5rem;
  }

  #link-topo {
    right: 3rem;
  }

  .banner {
    left: 5%;
    top: 60%;
  }

  .banner h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 6rem;
  }

  .sidebar {
    height: 100%;
  }

  .sessao-historia {
    height: 100%;
    width: 100vw;
  }

  .historia-text {
    padding-bottom: 5rem;
  }

  .sessao-confrat {
    height: 100rem;
    width: 100vw;
  }

  .confrat {
    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4);
    display: grid;
  }

  .card:nth-child(1) {
    width: 100vw;
    height: 25rem;
    grid-column: 2/3;
  }
  .card:nth-child(2) {
    width: 100vw;
    height: 25rem;
    grid-column: 2/3;
    padding: 0;
  }
  .card:nth-child(3) {
    width: 100vw;
    height: 25rem;
    grid-column: 2/3;
    padding: 0;
  }
  .card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    margin-top: 1rem;
    padding-left: 1.5rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
    transition: all 0.3s;
  }

  .card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3rem;
    color: rgb(248, 248, 248);
  }

  .card-info h3 {
    font-family: var(--font-action);
    font-weight: bolder;
    margin-bottom: 1.5rem;
  }

  .card-info p {
    font-family: var(--font-secondary);
    color: #eee;
    font-weight: 500;
    width: 80%;
    margin-bottom: 1rem;
  }

  .card-info {
    font-size: 1.4rem;
  }

  .sessao-titulos {
    width: 100vw;
    height: 100rem;
  }

  .titulos-left {
    display: none;
  }

  .titulos-right {
    width: 100%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
    border-radius: 2%;
  }
  .sessao-diretoria {
    width: 100vw;
    height: 100%;
    position: relative;
  }

  #logo-diretoria {
    position: absolute;
  }

  .diretoria-wrapper {
    width: 90%;
    height: 100%;
  }

  .sessao-diretoria h1 {
    font-size: 2.3rem;
    width: 17.5rem;
  }

  .imgDiretoria {
    width: 10rem;
    height: 10rem;
    margin-top: -13rem;
    position: relative;
    left: 14rem;
    display: flex;
    visibility: hidden;
  }

  .imgDiretoria2 {
    width: 10rem;
    height: 10rem;
    margin-top: -9rem;
    position: relative;
    left: 14rem;
    display: flex;
    visibility: hidden;
    padding-bottom: -2rem;
  }

  p1 {
    color: #fff;
  }

  footer {
    width: 100vw;
  }
  .footer-content {
    width: 90%;
  }

  .social-list a {
    margin: 0 1rem;
    font-size: 1.3rem;
  }
}
